version: '3.6'
services:

  workbook:
    container_name: workbook
    restart: always
    build: "./workbook"
    ports:
      - "8080:8080"
    depends_on:
      - "workbook_db"
    environment:
      HTTP_ADDR: ":8080"
      DATABASE_URL: "host=workbook_db user=ded dbname=workbook password=secret sslmode=disable"

  workbook_db:
    container_name: workbook_db
    image: postgres:11.2
    restart: always
    environment: 
      POSTGRES_DB: "workbook"
      POSTGRES_USER: "ded"
      POSTGRES_PASSWORD: "secret"

  users:
    container_name: users
    restart: always
    build: "./users"
    environment:
      GRPC_ADDR: ":8081"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

