version: '3.6'
services:

  gateway:
    container_name: gateway
    restart: always
    build: "./services/gateway"
    ports:
      - "8080:8080"
    environment:
      HTTP_ADDR: ":8080"
      USERS_GRPC_ADDR: "users:8080"

  workbook:
    container_name: workbook
    restart: always
    build: "./services/workbook"
    ports:
      - "8082:8080"
    depends_on:
      - "workbook_db"
    environment:
      HTTP_ADDR: ":8080"
      DATABASE_URL: "host=workbook_db user=ded dbname=workbook password=secret sslmode=disable"

  workbook_db:
    container_name: workbook_db
    image: postgres:11.2-alpine
    restart: always
    environment: 
      POSTGRES_DB: "workbook"
      POSTGRES_USER: "ded"
      POSTGRES_PASSWORD: "secret"

  users:
    container_name: users
    restart: always
    build: "./services/users"
    environment:
      GRPC_ADDR: ":8080"
      MONGO_ADDR: "mongodb://users_db:27017"

  users_db:
    container_name: user_db
    image: mongo:4.1
    restart: always
    # environment: 
      # POSTGRES_DB: "workbook"
      # POSTGRES_USER: "ded"
      # POSTGRES_PASSWORD: "secret"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

